/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #FF7F00; /* Laranja mais forte */
    background: rgba(255, 127, 0, 0.85); /* Laranja mais fosco com opacidade */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.1em;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    color: #FF7F00; /* Laranja mais forte para subtítulos */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}
